---
import { getCollection } from 'astro:content';
import Base from "@/layouts/Base.astro";
import PostList from "@/components/PostList.astro";

const projects = await getCollection('projects');
const articles = await getCollection('blog');
---

<Base>
    <hgroup class="flex flex-col w-fit my-20 mx-auto">
        <h1 class="font-bold text-fluid-9 p-0">Bryce Russell</h1>
        <p class="p-0 text-fluid-6">Web Developer</p>
    </hgroup>
    <section>
            <h2 class="mb-3">Recent</h2>
            <PostList posts={[...projects, ...articles]} />
    </section>
</Base>