---
import { getCollection } from 'astro:content';
import Base from "@/layouts/Base.astro";
import PostList from "@/components/PostList.astro";
import { sortDates } from '@/util';

const projects = await getCollection('projects');
const articles = await getCollection('blog');
---

<Base>
    <hgroup>
        <h1>Bryce Russell</h1>
        <p>Web Developer</p>
    </hgroup>
    <section class="container">
        <h2>Recent Posts</h2>
        <PostList posts={sortDates([...articles, ...projects]).slice(0, 10)} />
    </section>
</Base>