---
import Base from "@/layouts/Base.astro";
import CodeTagIcons from '@/components/CodeTagIcons.astro';
import type { Frontmatter } from '@/types';

const projects = await Astro.glob<Frontmatter>('../projects/*.md');
const posts = await Astro.glob<Frontmatter>('../posts/*.md');

const recent = [...projects, ...posts]
    .filter(post => post && post.frontmatter.draft !== true)
    .sort((a, b) => new Date(''+b.frontmatter.date).valueOf() - new Date(''+a.frontmatter.date).valueOf());
---

<Base>
    <hgroup class="flex flex-col w-fit my-20 mx-auto">
        <h1 class="font-bold text-fluid-9 p-0">Bryce Russell</h1>
        <p class="p-0 text-fluid-6">Web Developer</p>
    </hgroup>
    <section>
            <h2 class="mb-3">Recent</h2>
            <ul class="flex flex-col gap-5">
                { recent.map((post) => {
                    const {
                        slug,
                        package: pkg,
                        description,
                        date,
                        tags=[]
                    } = post.frontmatter
                    return (
                    <li>
                        <a href={`/${post.file.split('/').reverse()[1]}/${slug}`} class="text-darker font-bold">{pkg || slug}</a>
                        <div class="flex flex-col sm:flex-row items-start gap-x-3 text-fluid-0">
                            <time class="whitespace-nowrap text-grayer">{(new Date(''+date)).toDateString()}</time>
                            <div class="flex flex-wrap gap-x-3">                            
                                {tags.map((tag) => {
                                    return <a href={`/projects/tags/${tag}`}>#{tag}</a>
                                })}
                            </div>
                        </div>
                        <p class="text-fluid-0">{description}</p>
                    </li>
                    )
                })}
            </ul>
    </section>
</Base>