---
import { getCollection } from 'astro:content';
import Base from "@/layouts/Base.astro";
import PostList from "@/components/PostList.astro";

const projects = await getCollection('projects');
const articles = await getCollection('blog');
---

<Base>
    <hgroup>
        <h1>Bryce Russell</h1>
        <p>Web Developer</p>
    </hgroup>
    <section class="container">
        <h2>Projects</h2>
        <PostList posts={projects} />
    </section>
    <section class="container">
        <h2>Recent Posts</h2>
        <PostList posts={articles} />
    </section>
</Base>