---
import Base from "@/layouts/Base.astro";
---

<Base>
    <link slot="head" href="/_pagefind/pagefind-ui.css" rel="stylesheet">
    <script is:inline src="/_pagefind/pagefind-ui.js"></script>
    <div id="search" class="container"></div>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            new PagefindUI({ 
                element: "#search",
                resetStyles: false,
                showImages: false
            });
        });
    </script>
</Base>

<style is:global>
    body {
        --pagefind-ui-scale: 0.8;
        --pagefind-ui-primary: var(--primary);
        --pagefind-ui-text: var(--dark);
        --pagefind-ui-background: var(--lighter);
        --pagefind-ui-border: var(--gray);
        --pagefind-ui-tag: var(--gray);
        --pagefind-ui-border-width: 2px;
        --pagefind-ui-border-radius: 3px;
        --pagefind-ui-image-border-radius: 0;
        --pagefind-ui-image-box-ratio: 3 / 2;
        --pagefind-ui-font: var(--font);
    }

    .pagefind-ui__search-input::placeholder {
        opacity: 1;
        color: var(--dark);
    }
</style>
