<footer class="flex justify-between max-w-[80ch] w-full mx-auto p-5">
    <ul>
        <li><a href="https://github.com/BryceRussell">@BryceRussell</a></li>
    </ul>
    <ul class="flex flex-wrap justify-end gap-3 ml-5">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
</footer>