---
import { Icon } from "astro-icon";
---

<footer>
    <ul class="social-links">
        <li><a href="https://github.com/BryceRussell"><Icon name="mdi:github"/></a></li>
        <li><a href="https://stackoverflow.com/users/6909829/bryce-russell"><Icon name="mdi:stack-overflow"/></a></li>
        <li><a href=""><Icon name="ic:baseline-discord"/></a></li>
    </ul>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
</footer>