---
import { Icon } from 'astro-icon';
import { DarkThemeToggle, IconSwitch } from 'astro-headless-ui';
---

<nav id="_navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
    <ul class="icon-list">
        <li>
            <DarkThemeToggle id="_theme-toggle" class="hover" title="Toggle dark theme">
                <IconSwitch class="icon" active="body.dark" size="">
                    <Icon name="carbon:sun" />
                    <Icon name="carbon:moon" />
                </IconSwitch>
            </DarkThemeToggle>
        </li>
        <li>
            <a href="/search" id="_search-link" class="icon" aria-label="search link" title="Search">
                <Icon name="ic:sharp-search"/>
            </a>
        </li>
    </ul>
</nav>