---
import { Icon } from 'astro-icon';
import { DarkThemeToggle, IconSwitch } from 'astro-headless-ui';
---

<nav id="_navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
    <ul>
        <li>
            <DarkThemeToggle id="_theme-toggle" class="touch-target hover">
                <IconSwitch active="body.dark" size="100%">
                    <Icon name="carbon:sun" />
                    <Icon name="carbon:moon" />
                </IconSwitch>
            </DarkThemeToggle>
        </li>
        <li>
            <a id="_search-link" class="touch-target" href="/search" aria-label="search link">
                <Icon name="ic:sharp-search"/>
            </a>
        </li>
    </ul>
</nav>