---

---

<nav class="flex justify-center max-w-[80ch] mx-auto p-5">
    <ul class="flex gap-3">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/posts">Posts</a></li>
    </ul>
</nav>