---
export interface Props {
    tags: string[];
    url: string;
    class?: {} | [] | string;
}

const {
    tags,
    class: classes
} = Astro.props
---

{ tags.map((tag, i) => {
    return <li class:list={classes}><a href="">{tag}{i !== tags.length && ','}</a></li>
})}