---
import { Icon } from 'astro-icon';
---
<script is:inline>
    sessionStorage.getItem('dark') === 'true' && document.body.classList.toggle('dark');
    function toggleTheme(choice=document.body.classList.contains('dark')) {
        choice
            ? (document.body.classList.remove('dark'), sessionStorage.setItem('dark', 'false'))
            : (document.body.classList.add('dark'), sessionStorage.setItem('dark', 'true'))
    }
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => toggleTheme(!e.matches))
</script>

<button id="theme-toggle" onclick="toggleTheme()" aria-label="toggle theme">
    <Icon name="carbon:sun" />
    <Icon name="carbon:moon" />
</button>