---
import Base from "@/layouts/Base.astro";
import PostList from "@/components/PostList.astro";
import type { Frontmatter } from '@/types';

const projects = await Astro.glob<Frontmatter>('/src/projects/*.md');
---

<Base>
    <h1 class="text-center">My Projects</h1>
    <PostList posts={projects}/>
</Base>