---
import { getCollection } from 'astro:content';
import Base from "@/layouts/Base.astro";
import PostList from "@/components/PostList.astro";

const projects = await getCollection('projects');
---

<Base>
    <section class="container">
        <h1 class="text-center">My Projects</h1>
        <PostList posts={projects}/>
    </section>
</Base>