---
import Base from "@/layouts/Base.astro";
import type { Project } from '@/types';

let projects = await Astro.glob('../../projects/*.md');
projects = projects.filter(project => project.frontmatter.draft !== true)
projects = projects.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<Base>
    <h1 class="text-center">My projects</h1>
    <div class="flex flex-col gap-3 my-5">
        { projects.map((project) => {
            const {
                slug,
                package: _package,
                description,
                date='',
                tags=[],
            } = project.frontmatter as Project
            return (
                <article>
                    <a href={`/projects/${slug}`} class="text-black font-bold text-fluid-2">{_package||slug}</a>
                    <div class="flex items-center gap-3 text-fluid-0">
                        <time>{(new Date(date)).toDateString()}</time>
                        {tags.map((tag) => {
                            return <a href={`/projects/tags/${tag}`}>{tag}</a>
                        })}
                    </div>
                    <p class="text-fluid-0">
                        {description}
                    </p>
                </article>
            )
        })}
    </div>
</Base>