---
import Base from "@/layouts/Base.astro";
import PostList from "@/components/PostList.astro";
import { getTags } from "@/util";
import type { Post, Frontmatter } from '@/types';

export async function getStaticPaths() {
    const projects = await Astro.glob<Frontmatter>('/src/projects/*.md');
    return getTags(projects).map((tag) => {
        return {
            params: {
                tag
            },
            props: {
                projects: projects.filter(project => project.frontmatter.tags&&project.frontmatter.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    projects?: Post[];
}

const { projects = [] } = Astro.props

const { tag } = Astro.params

---

<Base>
    <h1 class="text-center">#{tag}</h1>
    <PostList posts={projects}/>
</Base>