---
import { getCollection } from 'astro:content';
import Base from "@/layouts/Base.astro";
import PostList from "@/components/PostList.astro";
import { getTags } from "@/util";
import type { ProjectEntry } from '@/types';

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return getTags(projects).map((tag) => {
        return {
            params: {
                tag
            },
            props: {
                projects: projects.filter(project => project.data.tags&&project.data.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    projects?: ProjectEntry[];
}

const { projects = [] } = Astro.props

const { tag } = Astro.params

---

<Base>
    <hgroup>
        <h1 class="text-center">Tag</h1>
        <p class="text-center">#{tag}</p>
    </hgroup>
    <PostList posts={projects}/>
</Base>