---
import Base from "@/layouts/Base.astro";
import { tagFrequency } from '@/util';
import type { Frontmatter } from '@/types';


const projects = await Astro.glob<Frontmatter>('/src/projects/*.md');
---

<Base>
    <section class="flex flex-col gap-5">
        <h2 class="text-center">Project Tags</h2>
        <ol class="flex flex-wrap justify-center sm:justify-start gap-5">
            { Object.entries(tagFrequency(projects)).map(([tag, freq]) => {
                if (tag) return <li><a href={`/projects/tags/${tag}`}>#{tag}{freq > 1 && `(${freq})`}</a></li>
            })}
        </ol>
    </section>
</Base>