---
import Base from "@/layouts/Base.astro";
import PostList from '@/components/PostList.astro';
import { getTags } from '@/util';
import type { Post, Frontmatter } from '@/types';

export async function getStaticPaths() {
    const articles = await Astro.glob<Frontmatter>('/src/blog/*.md');
    return getTags(articles).map((tag) => {
        return {
            params: {
                tag
            },
            props: {
                articles: articles.filter(article => article.frontmatter.tags&&article.frontmatter.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    articles?: Post[];
}

const { articles = [] } = Astro.props

const { tag } = Astro.params

---

<Base>
    <h1 class="text-center">#{tag}</h1>
    <PostList posts={articles}/>
</Base>