---
import { getCollection } from 'astro:content';
import Base from "@/layouts/Base.astro";
import PostList from '@/components/PostList.astro';
import { getTags } from '@/util';
import type { BlogEntry } from '@/types';

export async function getStaticPaths() {
    const articles = await getCollection('blog')
    return getTags(articles).map((tag) => {
        return {
            params: {
                tag
            },
            props: {
                articles: articles.filter(article => article.data.tags&&article.data.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    articles?: BlogEntry[];
}

const { articles = [] } = Astro.props

const { tag } = Astro.params

---

<Base>
    <section class="container">
        <hgroup>
            <h1 class="text-center">Tag</h1>
            <p class="text-center">#{tag}</p>
        </hgroup>
        <PostList posts={articles}/>
    </section>
</Base>