---
import { SEO } from "astro-seo";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import CopyButtonScript from '@/components/CopyButtonScript.astro';
import type { Post } from '@/types';
import '@/css/markdown.scss'

export interface Props extends Post {};

const {
	frontmatter,
	getHeadings,
} = Astro.props as Props

const {
	title,
	description
} = frontmatter

const canonical = new URL(Astro.url.pathname, Astro.site).toString();

const _SEO = {
	title: title || "Bryce Russell's Web Development Portfolio and Blog",
	description: description || "Bryce Russell's web development portfolio and blog",
	canonical: canonical,
	openGraph: {
		basic: {
			title: "Bryce Russell's Web Development Website",
			url: canonical,
			image: "/og.png",
			type: "website"
		},
		optional: {
			siteName: "Bryce",
			description: "Bryce Russell's portfolio and blog about web devlopment"
		},
		image: {
			alt: "logo"
		}
	}
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <SEO {..._SEO}/>
        <slot name="head"/>
	</head>
	<body>
		<Navbar />
		<main data-pagefind-body>
            <slot />
		</main>
		<Footer />
	</body>
	<!-- <CopyButtonScript /> -->
</html>