#theme-toggle {
    display: block;
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
} #theme-toggle *:nth-child(1) {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    transition: height 250ms;
} #theme-toggle *:nth-child(2) {
    position: absolute;
    inset: 0;
    height: 0;
    width: 100%;
    transition: height 250ms;
} body.dark #theme-toggle *:nth-child(1) {
    height: 0;
} body.dark #theme-toggle *:nth-child(2) {
    height: 100%;
} body.dark {
    --primary: #34c740;
    --primary-a: rgba(52, 199, 64, .25);
    --warning: #FFCC00;
    --warning-a: rgba(255, 204, 0, .75);
    --invalid: #FF3B30;
    --light: #1f1f1f;
    --lighter: #000;
    --gray: #2e2e2e;
    --grayer: #ABABAB;
    --dark: #ddd;
    --darker: #fefefe;
}