footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3em;
    padding: 1em;
}

footer ul {
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 100%;
}

.social-links {
    flex-wrap: nowrap;
    align-self: flex-end;
    justify-content: start;
}