.container {
    margin: 3em 0;
}

.touch-target {
    min-height: 38px;
    min-width: 38px;
}

.nowrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-start {
    align-items: flex-start;
} .items-center {
    align-items: center;    
} .items-end {
    align-items: flex-end;    
}

.justify-center {
    justify-content: center;
}
.gap-1\/10 {
    gap: .1em;
} .gap-1\/5 {
    gap: .2em;
} .gap-1\/4 {
    gap: .25em;
} .gap, .gap-1\/2 {
    gap: .5em;
} .gap-3\/4 {
    gap: .75em;
} .gap-1 {
    gap: 1em;
} .gap-5\/4 {
    gap: 1.25em;
} .gap-3\/2 {
    gap: 1.5em;
} .gap-7\/4 {
    gap: 1.75em;
} .gap-2 {
    gap: 2em;
} .gap-2-5\/2 {
    gap: 2.5em;
} .gap-3 {
    gap: 3em;
} .gap-4 {
    gap: 4em;
} .gap-5 {
    gap: 5em;
}